header { 
  text-align: center;
  background:
  background-size: cover;
  background-color: mediumseagreen;
  color: white;
 }
a {
  color: white;
}
h1 {
  font-size: 70px;
}
img {
  margin: 100px 0 0 0;
  padding: 0 0 0 0;
  border: 2px solid white;
  border-radius: 30px;
  width: 20pc;
  height: 20pc;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}





footer {
  text-align: center;
  background:
  background-size: cover;
  background-color: mediumseagreen;
  color: white;
}